@tailwind base;
@tailwind components;
@tailwind utilities;

body {    
    @apply bg-lmLightGray-400

    dark:bg-dmDarkBlue-900
    dark:text-white
}

#root {
    @apply 
    bg-lmLightGray-400 
    text-lmDarkBlue-900 
    font-display
    
    dark:bg-dmDarkBlue-900 
    dark:text-white
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 5px hsl(0, 0%, 98%);
    border-radius: 0 5px 5px 0;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 75%);
    border-radius: 5px;
}